<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eddyle-001-site1.gtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8012.site4now.net:8172/msdeploy.axd?site=eddyle-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>eddyle-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>eddyle-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MoviePenguin.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8006.site4now.net;Initial Catalog=db_aa2680_qlphim;Persist Security Info=True;User ID=db_aa2680_qlphim_admin;Password=Eddylee7749@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MoviePenguin.Models.ApplicationDbContext, MoviePenguin" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MoviePenguin.Models.TestDBContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MoviePenguin.Models.TestDBContext, MoviePenguin" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MovieDBContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MoviePenguin.Models.MovieDBContext, MoviePenguin" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=sqloledb;Data Source=SQL8006.site4now.net,1433;Initial Catalog=db_aa2680_qlphim;User Id=db_aa2680_qlphim_admin;Password=Eddylee7749@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=sqloledb;Data Source=SQL8006.site4now.net,1433;Initial Catalog=db_aa2680_qlphim;User Id=db_aa2680_qlphim_admin;Password=Eddylee7749@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MoviePenguin.Models.TestDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="MoviePenguin.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL8006.site4now.net;Initial Catalog=db_aa2680_qlphim;Persist Security Info=True;User ID=db_aa2680_qlphim_admin;Password=Eddylee7749@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MoviePenguin.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="MoviePenguin.Models.TestDBContext" />
  </ItemGroup>
</Project>